---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import PostLayout from '../../layouts/PostLayout.astro'
import { TAG_ROUTE } from '@/src/routes'
import { POST_TYPES } from '@/src/content/config'

export async function getStaticPaths() {
	const posts = await getCollection('posts')
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post }
	}))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<PostLayout frontmatter={post.data}>
	<div class='my-3 flex items-center gap-2'>
		{
			post.data.tags.map((tag) => (
				<a
					href={`${TAG_ROUTE}/${tag}`}
					class='border border-black bg-black px-1.5 py-0.5 pb-1 text-sm text-white transition-colors hover:bg-white hover:text-black'
				>
					{tag}
				</a>
			))
		}
	</div>
	{
		post.data.postType === POST_TYPES.photography && post.data.photos !== undefined && (
			<div class='overflow-auto whitespace-nowrap scrollbar-hide'>
				{post.data.photos.map((image, index) => (
					<div class='inline-block w-[440px] p-4 scrollbar-hide first:-ml-4'>
						<Image src={image} alt={`${post.data.title} image - ${index + 1}`} quality='max' />
					</div>
				))}
			</div>
		)
	}

	<Content />
</PostLayout>
