---
import dayjs from 'dayjs'
import { getCollection } from 'astro:content'
import TagLayout from '../../layouts/TagLayout.astro'
import { BLOG_ROUTE } from '@/src/routes'

export async function getStaticPaths() {
  let posts = await getCollection('posts')
  posts = posts.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())

  const tags: string[] = []
  posts.map((post) => {
    post.data.tags.map((tag) => {
      if (!tags.includes(tag)) {
        tags.push(tag)
      }
    })
  })

  return tags.map((tag) => ({
    params: { tag },
    props: { posts: posts.filter((post) => post.data.tags.includes(tag)) }
  }))
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<TagLayout tag={tag}>
  <h1 class="mb-2 border-b pb-2">Posts by tag</h1>
  <p class="my-3">Posts tagged {tag}:</p>

  <ul class="list-inside">
    {
      posts.map((post) => (
        <li>
          <a href={`${BLOG_ROUTE}/${post.slug}`} class="underline">
            {post.data.title}
          </a>
          <span>({dayjs(post.data.date).format('MMM DD, YYYY')})</span>
        </li>
      ))
    }
  </ul>
</TagLayout>
